

:root {
    font-size: 20px;
    --red: #da2c4d;
    --yellow: #f8ab37;
    --green: #2ecc71;
    --white: snow;
    --grey-light: #f2f7f9;
    --grey: #ecedf3;
    --black: #080808;
    --black-blue: #1f2029;
    --black-blue-light: #353746;
    --black-blue-light-2: #404255;
    --black-blue-light-3: #4b4d64;
    --black-light: #424455;
}

/* Core Stuff */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

   html.is-changing .transition-fade {
        transition: opacity 0.25s;
        opacity: 1;
      }
      html.is-animating .transition-fade {
        opacity: 0;
      }
.transition-main {
  transition-property: opacity, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  transform: translateX(0);
  opacity: 1;
}

html.is-animating .transition-main {
  opacity: 0;
  transform: translateX(-1em);
}

html.is-leaving .transition-main {
  transform: translateX(1em);
}


html.is-animating.to-left .transition-main {
  opacity: 0;
  transform: translateX(1em);
}

html.is-leaving.to-left .transition-main {
  transform: translateX(-1em);
}
body {
    font-size: 1rem;
    line-height: 1.7;
    color: #606d6e;
}

h1, h2, h3, h4, h5, h6 {
    color: #454B4D;
}

a {
    color: #1F8CD6;
    text-decoration: none;
    position: relative;
}

/*White Slide Underline*/
a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  border-bottom: 1px solid #fafafa;
  transform: scale(0, 1);
  transition: transform 0.7s;
}

a:hover {
    color: #175E91;
}
a:hover:before {
  transform: scale(1);
}

pre {
    background: #F0F0F0;
    margin: 1rem 0;
    border-radius: 2px;
    overflow: auto;
}

blockquote {
    border-left: 10px solid #42A5F5;
    margin: 0;
    padding: 0 2rem;
}


/* Utility Classes */

.wrapper {
    margin: 0 3rem;
}

.padding {
    padding: 3rem 1rem;
}

.left {
    float: left;
}

.right {
    float: right
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}


/* Content Styling */

.header .padding {
    padding: 1rem 0;
}

.header {
    background-color: #1F8DD6;
    color: #eee;
}

.header a {
    color: #fff;
}

.header .logo {
    font-size: 1.7rem;
    text-transform: uppercase;
}

.footer {
    background-color: #eee;
}


/* Menu Settings */

.main-nav ul {
    text-align: center;
    letter-spacing: -1em;
    margin: 0;
    padding: 0;
}

.main-nav ul li {
    display: inline-block;
    letter-spacing: normal;
}

.main-nav ul li a {
    position: relative;
    display: block;
    line-height: 45px;
    color: #fff;
    padding: 0 20px;
    white-space: nowrap;
}

.main-nav>ul>li>a {
    border-radius: 2px;
}


/*Active dropdown nav item */

.main-nav ul li:hover>a {
    background-color: #175E91;
}


/* Selected Dropdown nav item */

.main-nav ul li.selected>a {
    background-color: #fff;
    color: #175E91;
}


/* Dropdown CSS */

.main-nav ul li {
    position: relative;
}

.main-nav ul li ul {
    position: absolute;
    background-color: #1F8DD6;
    min-width: 100%;
    text-align: left;
    z-index: 999;
    display: none;
}

.main-nav ul li ul li {
    display: block;
}


/* Dropdown CSS */

.main-nav ul li ul ul {
    left: 100%;
    top: 0;
}


/* Active on Hover */

.main-nav li:hover>ul {
    display: block;
}


/* Child Indicator */

.main-nav .has-children>a {
    padding-right: 30px;
}

.main-nav .has-children>a:after {
    font-family: FontAwesome;
    content: '\f107';
    position: absolute;
    display: inline-block;
    right: 8px;
    top: 0;
}

.main-nav .has-children .has-children>a:after {
    content: '\f105';
}


/*Small Visual Fix :: selection*/

::selection {
    background-color: #e8eaf6;
}

::-moz-selection {
  background-color: #e8eaf6;
}

/*Nice scrollbar*/

-webkit-scrollbar {
    width: 0;
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}
 
::-webkit-scrollbar-thumb {
    background-color: #fcebd5;
    border:2.5px solid #424242;
}
 
::-webkit-scrollbar-track {
    background-color: #424242;
}

#corner-box {
  position: fixed;
  display: block;
  right: 0;
  bottom: 0;
  margin-right: 40px;
  margin-bottom: 40px;
  z-index: 900;
}
.ui-x
{display: flex;
justify-content: center;
}
ul.mdl-mega-footer__link-list li
{margin:2px;}

.fix{position: fixed}

.mdl-mega-footer__link-list {
    display: flex!important; 
}
  .mdl-mega-footer__link-list li {
    margin: 0 5px; 
  }

/* #Progress
================================================== */

.progress-wrap {
    position: fixed;
    right: 50px;
    bottom: 50px;
    height: 46px;
    width: 46px;
    cursor: pointer;
    display: block;
    border-radius: 50px;
    box-shadow: inset  0 0 0 2px rgba(255,255,255,0.2);
    z-index: 10000;
    opacity: 0;
    visibility: hidden;
    transform: translateY(15px);
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.progress-wrap.active-progress {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}
.progress-wrap::after {
    position: absolute;
    font-family: 'unicons';
    content: '\e84b';
    text-align: center;
    line-height: 46px;
    font-size: 24px;
    color: var(--grey);
    left: 0;
    top: 0;
    height: 46px;
    width: 46px;
    cursor: pointer;
    display: block;
    z-index: 1;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.progress-wrap:hover::after {
    opacity: 0;
}
.progress-wrap::before {
    position: absolute;
    font-family: 'unicons';
    content: '\e84b';
    text-align: center;
    line-height: 46px;
    font-size: 24px;
    opacity: 0;
    background-image: linear-gradient(298deg, var(--red), var(--yellow));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    left: 0;
    top: 0;
    height: 46px;
    width: 46px;
    cursor: pointer;
    display: block;
    z-index: 2;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.progress-wrap:hover::before {
    opacity: 1;
}
.progress-wrap svg path { 
    fill: none; 
}
.progress-wrap svg.progress-circle path {
    stroke: var(--grey);
    stroke-width: 4;
    box-sizing:border-box;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
body.light .progress-wrap {
    box-shadow: inset  0 0 0 2px rgba(0,0,0,0.2);
}
body.light .progress-wrap::after {
    color: var(--black-blue);
}
body.light .progress-wrap svg.progress-circle path {
    stroke: var(--black-blue);
}
.switch,
.circle {
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear; 
} 
.switch {
    width: 80px;
    height: 4px;
    border-radius: 27px;
    background-image: linear-gradient(298deg, var(--red), var(--yellow));
    position: fixed;
    right: 50px;
    top: 75px;
    display: block;
    margin: 0 auto;
    text-align: center;
    opacity: 1;
  z-index: 33333;
    transition: all 300ms linear;
}
.circle {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--black-blue-light-3);
    box-shadow: 0 4px 4px rgba(26,53,71,0.25), 0 0 0 1px rgba(26,53,71,0.07);
    animation: border-transform 10s linear infinite alternate forwards;
}
.circle:hover {
    box-shadow: 0 8px 8px rgba(26,53,71,0.25), 0 0 0 1px rgba(26,53,71,0.07);
}
.circle:before {
    position: absolute;
    font-family: 'unicons';
    content: '\eac1';
    top: 0;
    left: 0;
    z-index: 2;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    width: 100%;
    height: 40px;
    opacity: 1;
    color: var(--grey);
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear; 
}
.circle:after {
    position: absolute;
    font-family: 'unicons';
    content: '\eb8f';
    top: 0;
    left: 0;
    z-index: 2;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    width: 100%;
    height: 40px;
    color: var(--yellow);
    opacity: 0;
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear; 
}
.switched {
}
.switched .circle {
    left: 45px;
    box-shadow: 0 4px 4px rgba(26,53,71,0.25), 0 0 0 1px rgba(26,53,71,0.07);
    background: var(--black-blue);
}
.switched .circle:hover {
    box-shadow: 0 8px 8px rgba(26,53,71,0.25), 0 0 0 1px rgba(26,53,71,0.07);
}
.switched .circle:before {
    opacity: 0;
}
.switched .circle:after {
    opacity: 1;
}